.blog__last-card {
  background-image: url('../../../images/blog_closing-background.png');
  background-size: cover;
  grid-column: -1 / -3;
}

@media screen and (max-width: 1034px) {
  .blog__last-card {
    grid-column: -1 / span -2;
  }
}
