.blog__cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(327px, 1fr));
  gap: 24px;
  justify-content: center;
}
@media screen and (max-width: 1033px) {
  .blog__cards {
    gap: 15px;
  }
}

@media screen and (max-width: 767px) {
  .blog__cards {
    grid-template-columns: repeat(1, 327px);
  }
}
