.blog__card-link {
  color: black;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  text-decoration: none;
  overflow-wrap: break-word;
  word-wrap: break-word;
  padding: 0 24px 26px 24px;
  display: block;
  transition: 0.3s;
}

.blog__card-link:hover {
  color: #54a8b6;
}
