.volunteer-reviews__slider-item_position_right {
  position: relative;
  border: 1px solid white;
  border-radius: 25px 25px 25px 0;
  /* background-image: url(../../../../images/vollunteer-leftCard-border.svg); */

}

.volunteer-reviews__slider-item_position_right:before,
.volunteer-reviews__slider-item_position_right:after {
  content: " ";
  position: absolute;
  width: 0;
  height: 0;
}

.volunteer-reviews__slider-item_position_right:before {
  left: -1px;
  bottom: -21px;
  border-style: solid;
  border-width: 21px 51px 0 0;
  border-color: white transparent transparent transparent;

}

.volunteer-reviews__slider-item_position_right:after {
  left: 0px;
  bottom: -20px;
  border-style: solid;
  border-width: 21px 50px 0 0;
  border-color: #77C5D5 transparent transparent transparent;
}
