.nko__grid {
  grid-template-columns: repeat(auto-fit, 272px);
  column-gap: 72px;
  row-gap: 69.5px;
  margin: 41.5px 0 0 100px;
}

@media screen and (max-width: 768px) {
  .nko__grid {
    grid-template-columns: repeat(1, 327px);
    margin: 30px 0 0 0;
    row-gap: 32px;
  }
}
