.blog__main-card-date {
  color: #ffffff;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 8px;
  line-height: 120%;
  margin: 0;
  padding: 276px 376px 16px 24px;
  letter-spacing: 0.24em;
  text-transform: uppercase;
}

@media screen and (max-width: 767px) {
  .blog__main-card-date {
    padding: 140px 24px 16px;
    font-size: 10px;
  }
}
