.about__header {
  padding: 40px 0 0 40px;
  margin: 0;
  font-weight: 700;
  font-size: 44px;
  line-height: 50px;
}

@media screen and (max-width: 767px) {
  .about__header {
    padding: 24px 0 0 24px;
    font-size: 32px;
  }
}
