.partners__button{
    margin: 0 auto 56px;
    padding: 0;
    display: none;
    background-color: #F8F8F8;
    border-radius: 56px;
    width: 327px;
    height: 56px;
    border: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    cursor: pointer;
}

@media screen and (max-width: 560px) {
    .partners__button {
      display: block;
    }
  }