.school__grid {
  grid-template-columns: repeat(auto-fit, 304px);
  column-gap: 56px;
  row-gap: 56px;
  margin: 55px 0 0 0;
}

@media screen and (max-width: 768px) {
  .school__grid {
    grid-template-columns: repeat(1, 327px);
  }
}
