.school__header {
  font-style: normal;
  font-weight: 700;
  font-size: 44px;
  line-height: 50px;
  text-align: center;
  margin: 0;
}

@media screen and (max-width: 768px) {
  .school__header {
    font-size: 32px;
  }
}
