.volunteer-reviews {
  font-family: 'Inter', 'Arial', 'sans-serif';
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #77C5D5;
  padding: 58px 0 0 0;
  /* display: flex;
  flex-direction: column;
  justify-content: flex-start; */
  /* /* display: grid; */
}
