.volunteer-reviews__slider-item-paragraph {
  margin: 0;
  padding: 0;
  margin-bottom: 8px;
  color: white;
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
}
