.procharity__grid {
  grid-template-columns: repeat(5, minmax(100px, 180px));
  column-gap: 56px;
  row-gap: 56px;
  margin: 28px 0 0 0;
}

@media screen and (max-width: 768px) {
  .procharity__grid {
    grid-template-columns: repeat(1, 327px);
    margin-top: 24px;
    row-gap: 16px;
  }
}
