.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, 300px);
  justify-content: center;
  margin-left: 100px;
  overflow: hidden;
}

@media screen and (max-width: 768px) {
  .grid {
    grid-template-columns: repeat(1, 327px);
    margin: 32px 0 0 0;
    row-gap: 26px;
  }
}
